<div class="card mb-4 shadow-sm">
<img class="bd-placeholder-img card-img-top" width="100%" [src]= "itemOfList.imageUrl" />
<div class="card-body">
    <p class="card-text">{{ itemOfList.description }}</p>
    <strong>{{ itemOfList.price | currency}}</strong>
    <div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        <button type="button"
         class="btn btn-sm btn-outline-primary"
         (click)="handleAddToCart()"
         >Add</button>
    </div>
    <small class="text-muted">9 mins</small>
    </div>
</div>
